body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.header1 {
  padding: 10px;
}

main {
  flex: 1; /* El elemento main ocupa todo el espacio vertical disponible */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.div1 {
  border: 1px solid black;
  margin-bottom: 104px;
  height: fit-content;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  width: 100%;
  background-color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 30px;
}

.list1 {
  display: flex;
  gap: 50px;
  font-size: 15px;
}

ul {
  list-style: none;
}

.list1 a {
  text-decoration: none;
  color: black;
}

.list2 {
  display: flex;
  gap: 20px;
  font-size: 15px;
}

.icon {
  width: 30px;
  height: 30px;
}

.image {
  width: 100%;
  height: 100%;
}

footer {
  background-color: #f0f0f0;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
